*{
    margin: 0;
    padding: 0;
}

img{
    height: 80%;
}

.names{
    text-align: center;
    background-color: antiquewhite;
    margin: 25px;
}

.images{
    cursor: pointer;
    height: 300px;
    width: 300px;
    overflow: hidden;
    margin: 25px;
}

.linha{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}