*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    padding-top: 40px;
}

main{
    border: 2px solid #4CAF50;
}

img{
    height: 80%;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    padding-top: 5vw;
    letter-spacing: -3px;
}

.bg{
    display: flex;
    margin-top: 0px;
}

.dados{
    height: 400px;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-left: 20px;
    border: 2px solid #4CAF50;
}

.fundo_1{
    height: 100px;
    width: 50%;
    position: absolute;
    height: 100%;
    border: 1px solid #4CAF50;
}

.fundo_2{
    height: 100px;
    width: 50%;
    position: absolute;
    height: 100%;
}

.informacoes{
    text-align: center;
    background-color: antiquewhite;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.images{
    cursor: pointer;
    height: 400px;
    width: 400px;
    overflow: hidden;
    animation: fade-out 3.5s;
}

.linha{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    white-space: normal;
}

.personagens{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    white-space: normal;
    margin-top: 20px;
}

.titulo{
    height: 250px;
    width: 100%;
    padding-top: 20px;
    color: white;
}

@keyframes fade-out {
  0% {
    opacity: 0;
    height: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: 400px;
  }
}